body {
    font-family: verdana;
    background-color: red;
}

h1 {
    font: verdana;
    font-size: 50px;
    color: black;
    text-align: center;
}

p {
    font: verdana;
    font-size: 20px;
    color: white;
    text-align: center;
}

button {
    font: verdana;
    height: 50px;
    border: rgba(216,27,64,255);
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    display:inline-block; 
    padding: 10px;
    text-align: center;
}

.form-group {
    font: verdana;
    font-size: 50px;
    background-color: rgba(101,49,157,255);
    color: white;
    margin: auto;
    width: 30%;
    border: 3px solid rgba(216,27,64,255);
    padding: 10px;
    text-align: center
}